<div id="left">
  <h3>Puissance 4</h3>
  <button (click)="incription()">S'inscrire</button>
  <button (click)="motdepasse()">Mot de passe oublié</button>
</div>
<div id="right">
  <h1>Connexion</h1>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <h2>Adresse mail :</h2>
    <input type="text" id="email" class="form-control" formControlName="email" placeholder="adresse@mail.com" autocomplete="off">
    <h2>Mot de passe :</h2>
    <input type="password" id="password" class="form-control" formControlName="password" placeholder="******" autocomplete="off">
    <br>
    <button class="cestparti" type="submit" [disabled]="signinForm.invalid">Connexion</button>
  </form>
  <h4>{{errorMessage}}</h4>
</div>