<div style="width:60%; margin:auto;">
	<div id="colonne" *ngFor="let itemi of [].constructor(partie.grille.largeur); let i = index" [ngStyle]="{padding: i==0 ? '0 2.272727% 0 4.545455%' : i==partie.grille.largeur-1 ? '0 4.545455% 0 2.272727%' : '0 2.272727% 0 2.272727%'}" (click)="click(i)" (mouseenter) ="mouseEnter(i) "  (mouseleave) ="mouseLeave()">
		<div id="ligne" *ngFor="let itemj of [].constructor(partie.grille.hauteur); let j = index" [ngStyle]="{margin: j==0 ? '25% auto 25% auto' : '0 auto 25% auto' , backgroundColor: get(i,j)==1 ? '#F68E5F' : get(i,j)==2 ? '#947EB0' : get(i,j)==3 ? '#EFEFEF' : ''}"></div>
	</div>
</div>