<div *ngIf="selectedGrille">
  <h2>Grille</h2>
  <div>
    <label for="largeur">Largeur : </label>
    <input id="largeur" [(ngModel)]="selectedGrille.largeur" placeholder="7">
  </div>
  <div>
    <label for="hauteur">Hauteur : </label>
    <input id="hauteur" [(ngModel)]="selectedGrille.hauteur" placeholder="6">
  </div>
</div>

<h3>Choisissez la taille de la grille :</h3>
<ul class="grilles">
  <li *ngFor="let grille of grilles" [class.selected]="grille === selectedGrille" (click)="onSelect(grille)">
    <span class="badge">{{grille.largeur}}</span> {{grille.hauteur}}
  </li>
</ul>