<div id="left">
<h3>Choisissez la taille</h3>
<h3>de la grille :</h3>
<ul class="grilles">
  <li *ngFor="let grille of grilles" [class.selected]="isSelected(grille)" (click)="onSelect(grille)" (mouseover)="setHover(true, grille)" (mouseleave)="setHover(false, grille)">
    {{grille.largeur}}x{{grille.hauteur}}
	<div style="width:75%; margin:auto; padding-top:2%;">
	  <div id="colonne" *ngFor="let itemi of [].constructor(grille.largeur); let i = index" [ngStyle]="{padding: i==0 ? '0 2.272727% 0 4.545455%' : i==grille.largeur-1 ? '0 4.545455% 0 2.272727%' : '0 2.272727% 0 2.272727%' , backgroundColor: isSelected(grille) ? getHover(grille)  ? '#A0D2DB' : '#EFEFEF' : getHover(grille)  ? '#A0D2DB' : '#333333'}">
		<div id="ligne" *ngFor="let itemj of [].constructor(grille.hauteur); let j = index" [ngStyle]="{margin: j==0 ? '25% auto 25% auto' : '0 auto 25% auto' , backgroundColor: isSelected(grille) ? getHover(grille)  ? '#EFEFEF' : '#A0D2DB' : getHover(grille)  ? '#333333' : '#A0D2DB'}"></div>
	  </div>
	</div>
  </li>
</ul>
</div>
<div id="right" *ngIf="partie">
  <h1>Puissance 4</h1>
  <h2>Nom du joueur 1 :</h2>
  <input class="joueur" id="joueur1" [(ngModel)]="partie.joueur1" placeholder="Joueur 1" autocomplete="off">
  <h2>Nom du joueur 2 :</h2>
  <input class="joueur" id="joueur2" [(ngModel)]="partie.joueur2" placeholder="Joueur 2" autocomplete="off">
  <br>
  <button id="cestparti" (click)="click()">C'est parti</button>
</div>
<button id="deconnexion" (click)="deconnexion()">Déconnexion</button>