*{
	text-align:center;
	font-family:'Roboto', sans-serif;
}
h1{
	font-size:500%;
	margin:0;
	padding-bottom:5%;
}
h2{
	font-size:300%;
	margin:0;
	padding:0;
	color:#EFEFEF;
	padding-bottom:2%;
}
h3{
	font-size:250%;
	margin:0;
	padding:0;
	padding-bottom:5%;
}
#right h3{
	color:#EFEFEF;
}
h4{
	font-size:150%;
	color:#F68E5F;
	margin:0;
	padding:0;
}
#left{
	display:inline-block;
	position:absolute;
	top:0;
	bottom:0;
	padding-top:3%;
	width:22%;
	background-color:#A0D2DB;
	color:#333333;
	font-size:150%;
	font-weight:bold;
}
#right{
	display:inline-block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	padding-top:3%;
	text-align:center;
	width:78%;
	background-color:#333333;
	color:#A0D2DB;
}
input{
	font-size:300%;
	background:none;
	border:none;
	margin:0;
	padding:0;
	margin-bottom:2%;
	padding-bottom:2%;
	font-weight:bold;
	width:100%;
	outline-style:none;
	color:#947EB0;
}
#left button{
	font-size:150%;
	background:none;
	border:none;
	margin:0;
	padding:0;
	color:#EFEFEF;
	font-weight:bold;
	margin-top:5%;
	padding:10% 0 10%;
	cursor:pointer;
}
#left button:hover{
	color:#333333;
}
#right button{
	font-size:250%;
	background:none;
	border:none;
	margin:0;
	padding:0;
	color:#EFEFEF;
	font-weight:bold;
	margin-top:1%;
	margin-bottom:3%;
	outline-style:none;
	cursor:pointer;
}
#right button:hover{
	color:#A0D2DB;
}
#right button:disabled{
	color:#333333;
}