<div id="left">
  <h3>Puissance 4</h3>
  <button (click)="connexion()">Se connecter</button>
</div>
<div id="right">
  <h1>Inscription</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div id="gauche">
	  <h2>Prénom :</h2>
      <input type="text" id="prenom" class="form-control" formControlName="prenom" placeholder="Prénom" autocomplete="off">
	</div>
	<div id="droite">
	  <h2>Adresse mail :</h2>
      <input type="text" id="email" class="form-control" formControlName="email" placeholder="adresse@mail.com" autocomplete="off" style="width:100%">
	</div>
	<div id="gauche">
	  <h2>Mot de passe :</h2>
      <input type="password" id="password" class="form-control" formControlName="password" placeholder="******" autocomplete="off">
	</div>
	<div id="droite">
	  <h2>Confirmation mdp :</h2>
      <input type="password" id="password2" class="form-control" formControlName="password2" placeholder="******" autocomplete="off">
	</div>
    <br>
    <button class="cestparti" type="submit" [disabled]="signupForm.invalid">Inscription</button>
  </form>
  <h4>{{errorMessage}}</h4>
</div>
